In [2]:
import pandas as pd

In [3]:
pd.DataFrame({"column1": [1,2,3]})

   column1
0        1
1        2
2        3